body {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url(../img/coolBanana.png) center repeat #fee;
  background-size: 15%;
  font-family: "Raleway", sans-serif;
  color: #012a36;
}

header {
  margin: 0 0 2rem;
  border-radius: 0 0 30px 30px;
  padding: 0.5rem 1rem;
  background-color: #ffc1cf;
  text-align: center;
  box-shadow: inset 4px -4px 8px rgba(0, 0, 0, 0.5),
    inset -4px 0 8px rgba(0, 0, 0, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
  border-radius: 20px;
}

footer {
  text-align: center;
  margin: 2rem 0 0;
  border-radius: 30px 30px 0 0;
  padding: 0.5rem 0;
  background-color: #ffc1cf;
  box-shadow: inset 4px 0 8px rgba(0, 0, 0, 0.5),
    inset -4px 4px 8px rgba(0, 0, 0, 0.5);
}

span {
  font-size: 1.5em;
}

button {
  border-radius: 20px;
  width: 8rem;
  height: 2rem;
  margin: 0.25em auto;
  border-style: none;
  background-color: #fffec1;
}

button:hover {
  background-color: #9c9c77;
}

button:active {
  box-shadow: inset 4px -5px 8px rgba(0, 0, 0, 0.6),
    inset -4px 5px 8px rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Indie Flower", cursive;
  color: #fffec1;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.container {
  width: 75%;
  margin: 0.5em auto;
  border-radius: 30px;
  padding: 2rem;
  background-color: #ffc1cf;
  text-align: center;
  box-shadow: inset 4px -4px 8px rgba(0, 0, 0, 0.5),
    inset -4px 4px 8px rgba(0, 0, 0, 0.5);
}

#userInputs {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
}

#userGuess {
  flex-grow: 1;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 3rem;
  margin: 0.25em auto;
  border-radius: 15px;
  border-style: none;
  font-size: 2em;
  text-align: center;
  background-color: #fee;
}

#userGuess:focus {
  outline: none;
  border: dashed 2px #856a40;
  box-sizing: border-box;
}

#prevGuesses,
#hintMessage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1em auto;
  padding-left: 0;
}

#prevGuesses > li,
#hintMessage > li {
  display: block;
  list-style: none;
  border-radius: 30px;
  padding: 5px;
  background-color: #fee;
}

#closenessMessage {
  display: block;
  margin-bottom: 1em;
}
